body{
  font-family: Arial, sans-serif;  
}
div{
  background-color: orange;
  color: white;
  text-align: center;
  margin: auto;
  margin-top: 150px;
  width: 800px;
  padding-top: 50px;
  padding-bottom: 70px;
  border-radius: 30px;
}
h1,h2{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 2.6em;
}

input[type="button"]{
  background-color: orange;
  color: white;
  curser: pointer;
  font-size: 1.2em;
  padding: 18px 10px;
  width: 180px;
  margin: 10px;
  outline: none;
  border: 1px solid white;
  border-radius: 5px;
}
input[type="button"]:hover{
  background-color: white;
    color: orange;
}